@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    background: #000;
    color: #fffdf8;
    font-family: Playfair Display, sans-serif;
    max-width: 100%;
    zoom: 0.9;

}
section {
    display: flex;
    justify-content: center;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    border-radius: 10px;
    border-bottom: solid 1px;
    box-shadow: 5px 10px 20px rgba(83, 83, 83, 0.3);
    margin-bottom: 30px;
    padding-bottom: 5px;
}
.navstart {
    display: flex;
    margin-left: 90px;
}
.links {
    display: flex;
    align-items: end;
    margin-right: 120px;
    font-weight: 500;
}
.section1 {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 24px;
}
.section1 h1 {
    margin-top: 0;
}
.section1left {
    display: flex;
    flex-direction: column;
    width: 400px;
}
ul button {
    background: none;
    color: #8a7946;
    border: solid 2px #8a7946;
    padding: 10px 20px;
    margin-bottom: 0;
    border-radius: 10px;
    font-weight: 550;
}
button:hover {
    background: #8a7946;
    color: black;
    cursor: pointer;
    transition-delay: 0.09s;
}
button:active {
    opacity: 0.5;
}
.spec {
    margin-top: 8px;
}
nav img {
    width: 120px;
}
ul.spec {
    margin-bottom: 8px;
}
.left {
    margin-right: 120px;
}
.section1bot img{
    width: 400px;
    border-radius: 8px;
}
.section1bot {
    position: relative;
    width: 50%;
    display: block;
    justify-content: space-between;
}
.section1bot a {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .04);
    border: 1px solid rgba(255, 255, 255, .08);
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px 7px 20px;
    margin-left: 50px;
    font-size: 12px;
    line-height: 100%;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 59.2px;
    left: 50px;
    right: -110px;
    font-weight: bold;
}
.section1bot a button {
    background: #8a7946;
    padding: 12px 12px 12px 12px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
.socials {
    margin-top: 4px;
    display: flex;
    justify-content: end;
}
.socials img {
    width: 26px;
    margin-left: 4px;
    border-radius: 100%;
    background: #8a7946;
    padding: 4px;
}
.section1right img {
    max-width: 480px;
    margin-top: 10px;
}
.section2 {
    background-color: #131313;
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 24px;
}
.section2right {
    display: flex;
}
.section2menu {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 598px;
    margin-right: 24px;
    background-color: #191919;
    text-align: start;
    margin-top: 48px;
    border-radius: 8px;
    box-shadow:inset 5px 10px 210px rgba(202, 201, 201, 0.2);
    border: outset #424141;
    border-top: none;
}
.textmenu {
    text-align: center;
    font-weight: bold;
    width: 100%;
    background-color: #8a7946;
    color: #000000;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
    display: flex;
}
.textmenu img{
    width: 50px;
    margin-right: 64px;
}
.section2right img {
    width: 400px;
    height: 266px;
    border-radius: 8px;
    margin-top: 24px;
}
.menu2 {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    width: 598px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}
.s2m1 {
    width: 210px;
    margin-right: 6px;
}
.more2 a button{
    margin-left: 32px;
    margin-top: 69px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    background: none;
    padding: 10px 10px;
    border-radius: 8px;
    border: solid 2px #8a7946;
    color: #8A7946FF;
}
.more2 button:hover {
    background: #8a7946;
    border: solid 1px #8a7946;
    color: #000000;
    cursor: pointer;
    transition-delay: 0.09s;
}
.more2 a {
    color: white;
}
.section2right {
    display: flex;
    flex-direction: column;
}
.more2 {
    display: flex;
    flex-direction: row;
    height: 250px;
}
.section2rightbot {
  margin-top: 48px;
    text-align: center;
    border: 2px solid #8a7946;
    padding-left: 24px;
    padding-right: 24px;
}
.section2rightmid {
    margin-top: 72px;
    border-bottom: solid white;
}
.section2rightmid h3 {
    margin-bottom: 10px;
}
#p {
    background-color: #610000;
    display: inline;
    padding: 0.3px 2px 3px 2px;
    border-radius: 8px;
}
.section3 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 16px 120px 50px 120px;
}
.section3top {
    border-bottom: solid 2px #8a7946;
    border-top: solid 2px #8a7946;
    text-align: center;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 56px;
}
.section3imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section3imgs img {
    margin-right: 16px;
    margin-top: 16px;
    border: solid 2px white;
}
#pic4, #pic3 {
    width: 419px;
    height: 265.33px;
}
#pic1, #pic2, #pic5, #pic6 {
    width: 199.2px;
    height: 265.33px;
}
#pic3, #pic6 {
    margin-right: 0;
}
.section4 {
    background-color: #131313;
    display: flex;
}
.section4 h1 {
    border-bottom: solid 2px #8a7946;
}
.section4top {
    margin-left: 120px;
}
.section4 p {
    width: 600px;
    text-align: justify;
    font-weight: normal;
    font-size: medium;
    text-indent: 3em;
    margin-top: 40px;
    margin-bottom: 8px;
}
.section4right {
    margin-left: 32px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
}
.section4right img {
    width: 370px;
}
#ricefield {
    margin-top: 48px;
}
.section5 {
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    padding-bottom: 24px;
    flex-direction: column;
}
.section5 img {
    width: 100px;
}
.location {
    flex-direction: column;
    margin-right: 32px;
}
.contact {
    display: flex;
    justify-content: center;
    margin-top: 72px;
}
footer {
    background-color: #131313;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    margin-top: 4px;
}
footer a {
    text-decoration: none;
    color: white;
    margin-right: 32px;
}
footer img {
    width: 2%;
    background: #8a7946;
    padding: 6px;
    border-radius: 30%;
}
#section2 > div.section2menu > div.menu2 > div:nth-child(2), #section2 > div.section2menu > div.menu2 > div:nth-child(4),
#section2 > div.section2menu > div.menu2 > div:nth-child(6), #section2 > div.section2menu > div.menu2 > div:nth-child(8){
    width: 210px;
    height: 145px;
}
#section2 > div.section2right > div.more2 > a {
    color: white;
}
